{% extends "base.html" %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.Slider");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.Tooltip");
    dojo.require("dijit.Dialog");
    dojo.require("dojox.fx.scroll");
    dojo.require("dojox.html.entities");
    dojo.require("dojox.charting.Chart2D");
    dojo.require("dojox.charting.themes.PlotKit.orange");

    var Poll = function(pollFunction, intervalTime) {
        var intervalId = null;

        this.start = function(newPollFunction, newIntervalTime) {
            pollFunction = newPollFunction || pollFunction;
            intervalTime = newIntervalTime || intervalTime;

            if ( intervalId ) {
                this.stop();
            }

            intervalId = setInterval(pollFunction, intervalTime);
        };

        this.stop = function() {
            clearInterval(intervalId);
        };
    };

    var poller = null;
    var dlg = null;
    var degreeDlg = null;
    var currentNick = null;
    var chart = null;

    function onAbout()
    {
        dlg = dijit.byId("adialog");
        dlg.attr('style', 'text-align: center;');
        dojo.html.set(dojo.byId("emptydiv"),
                '<h4>PomeGranate</h4><p>a fruity MapReduce framework brough to you by:<ul>' +
                '<li>Francesco Piccinno</li><li>Andrea Bozzi</li></ul><p>'
        );
        dlg.show();
        return false;
    }

    function toggleUpdate() {
        if (poller == null) return false;

        if (dojo.byId("sync-chk").checked == false)
            poller.stop();
        else
            poller.start();

        return false;
    }

    function editNode(nick) {
        currentNick = nick;
        degreeDlg = dijit.byId("dialog");
        degreeDlg.attr('style', '');
        degreeDlg.attr('title', "Editing " + nick);
        degreeDlg.show();
        return false;
    }

    function closeDialog() {
        if (degreeDlg != null)
          degreeDlg.hide();
        currentNick = null;
    }

    function changeParDegree() {
        if (degreeDlg == null || currentNick == null)
            return false;

        var value = parseInt(dojo.byId("sliderValue").value, 10);
        if (isNaN(value)) {
            alert("Please use an integer value");
            return false;
        }

        var message = {"type": "change-degree", "nick": currentNick, "data": value}
        var xhrArgs = {
            url: "/",
            postData: dojo.toJson(message),
            handleAs: "json",
            headers: { "Content-Type": "application/json"},
            error: function(error) {
                alert("Error: " + error);
            }
        };

        dojo.xhrPost(xhrArgs);
        closeDialog();
        return false;
    }

    dojo.addOnLoad(function() {
        chart = new dojox.charting.Chart2D("graph");
        chart.addPlot("default", {type: "Lines", markers: false, gap:1, tension:3, shadows: {dx: 2, dy: 2, dw: 2}})
        .addAxis("x", {fixLower: "lower", fixUpper: "major", includeZero: false, minorTicks: false, microTicks: false, natural: true})
        .addAxis("y", {vertical: true, fixLower: "lower", fixUpper: "major", natural: true, microTicks:false, includeZero: true})
        .setTheme(dojox.charting.themes.PlotKit.orange)
        .addSeries("Global", [1, 2, 2, 3, 4, 5, 5, 7])
        .render();
    });

    dojo.addOnLoad(function() {
        new dijit.Tooltip({
            position: ["below"],
            connectId: ["new-computation"],
            label: "Well just restart the server! You mad?"
        });
        var slider = new dijit.form.HorizontalSlider({
            name: "slider",
            value: 0,
            minimum: -10,
            maximum: 10,
            discreteValues: 21,
            intermediateChanges: true,
            style: "width: 220px;",
            onChange: function(value) {
                dojo.byId("sliderValue").value = value;
            }
        },
        "slider");

        var xhrArgs = {
            url: "/status",
            handleAs: "json",
            load: function(data) {
                dojo.html.set(dojo.byId("lastupdate"), '<span class="label">Last update on ' + Date() + '</span>');

                var html = '';
                dojo.forEach(data['inputs'], function(item, i) { html += '<td>' + item + '</td>';});
                dojo.html.set(dojo.byId("inputs-body"), '<tr>' + html + '</tr>');

                html = '';
                dojo.forEach(data['overview'], function(item, i) { html += '<td>' + item + '</td>';});
                dojo.html.set(dojo.byId("overview-body"), '<tr>' + html + '</tr>');

                var i = 0;
                var arr = data['lastlog'];
                html = '';

                for (i=0; i < arr.length; i++)
                    html += '<tr><td>' + arr[i] + '</td></tr>';

                console.debug(data['graph']);

                dojo.html.set(dojo.byId("applog"), html);
                dojox.fx.smoothScroll({node: dojo.query('#applog :last-child')[i], win: dojo.byId('tlog')}).play();

                var s = dojo.map(data['graph'], function(item) { return {x:item[1], y:item[0]};});
                chart.updateSeries("Global", s);
                chart.render();

                html = '';
                var masters = data['masters'];
                for (i=0; i < masters.length; i++) {
                    var inner = masters[i];
                    html += '<tr><td><code><a href="#" onclick="editNode(\'' +
                            inner[0] + '\');">' + inner[0] + '</a></code></td>';
                    for (var j=1; j < inner.length; j++)
                        html += '<td>' + inner[j] + '</td>';
                    html += '</tr>';
                }

                dojo.html.set(dojo.byId('status-body'), html);
            }
        };

        poller = new Poll(function() { dojo.xhrGet(xhrArgs); }, 5000);
        dojo.byId('sync-chk').disabled = false;
        poller.start();
    });
</script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/tundra/tundra.css"/>
{% endblock %}

{% block main %}
<div class="tundra span6" id="adialog" dojoType="dijit.Dialog" title="About PomeGranate" style="display: none;">
  <div id="emptydiv" class="aboutlist"></div>
</div>
<div class="tundra span8" id="dialog" dojoType="dijit.Dialog" title="Parallelism degree change" style="display: none;">
  <form>
    <h3>Parallelism degree change</h3>
    <p style="text-align: justify;">Through this dialog you can dynamically change the number of MPI processess allocated on a given master.</p>
    <p style="font-style: italic; font-size: 8pt; text-align: justify;">Please note that this is a delta number therefore specifying a positive number will increase the number of MPI processes allocated to that specific master.
On the contrary a negative number will tell to the master to remove redundant workers from its pool.</p>
    </p>
    <fieldset>
      <div class="clearfix">
        <label>MPI proc</label>
        <div class="input" style="width: 150px;">
          <input type="text" id="sliderValue" name="nproc" size="4" value="0"/>
        </div>
      </div>
      <div class="clearfix">
        <label></label>
        <div class="input">
          <div id="slider"></div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="actions" style="background: none;">
    <a href="#" class="btn small primary" onclick="changeParDegree();">Commit changes</a>
    <a href="#" class="btn small" onclick="closeDialog();">Cancel</a>
  </div>
</div>

<div class="span14">

  <div class="row">
    <div style="margin-bottom: 30px;" class="span7">
      <input type="checkbox" name="auto-sync" id="sync-chk" value="option" checked="1" onclick="toggleUpdate();" disabled="true">
      <span>Automatically update the view every 5 seconds</span>
      <div id="lastupdate"></div>
    </div>
    <div class="span7" id="graph" style="width: 350px; height: 125px;">
    </div>
  </div>

  <h2>Registered masters</h2>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ping</th>
        <th>MB/s</th>
        <th># Proc</th>
        <th>Finished (M/R/T)</th>
        <th>On going (M/R/T)</th>
        <th>Processed (M/R/T)</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="status-body">
      {% for name, rtt, avg, proc, finished, ongoing, files, status in status.get_masters() %}
      <tr>
        <td><code><a href="#" onclick="editNode('{{ name }}');">{{ name }}</a></code></td>
        <td>{{ rtt }}</td>
        <td>{{ avg }}</td>
        <td>{{ proc }}</td>
        <td>{{ finished }}</td>
        <td>{{ ongoing }}</td>
        <td>{{ files }}</td>
        <td>{{ status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Overview</h2>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Elapsed time</th>
        <th>Phase</th>
        <th>Map</th>
        <th>Reduce</th>
        <th>Total</th>
        <th>Processes</th>
        <th>avg MB/s</th>
      </tr>
    </thead>
    <tbody id="overview-body">
      <tr>
        <td>{{ status.get_elapsed() }}</td>
        <td>{{ status.get_phase() }}</td>
        <td>{{ status.get_map_status() }}</td>
        <td>{{ status.get_reduce_status() }}</td>
        <td>{{ status.get_total_status() }}</td>
        <td>{{ status.get_processes() }}</td>
        <td>{{ status.get_average() }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Inputs</h2>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Map assigned</th>
        <th>Reduce assigned</th>
        <th>Map completed</th>
        <th>Reduce completed</th>
        <th>Map faulted</th>
        <th>Reduce faulted</th>
        <th>Total assigned</th>
        <th>Total completed</th>
        <th>Total faulted</th>
      </tr>
    </thead>
    <tbody id="inputs-body">
      <tr>
        <td>{{ status.map_assigned }}</td>
        <td>{{ status.reduce_assigned }}</td>
        <td>{{ status.map_completed }}</td>
        <td>{{ status.reduce_completed }}</td>
        <td>{{ status.map_faulted }}</td>
        <td>{{ status.reduce_faulted }}</td>
        <td>{{ status.map_assigned + status.reduce_assigned }}</td>
        <td>{{ status.map_completed + status.reduce_completed }}</td>
        <td>{{ status.map_faulted + status.reduce_faulted }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Application Log</h2>
  <div style="height: 350px; overflow: auto; padding: 4px 4px 4px 4px;" id="tlog">
    <table class="zebra-striped">
      <tbody id="applog" class="tlog">{% for msg in status.get_last_messages() %}<tr><td>{{ msg }}</td></tr>{% endfor %}</tbody>
    </table>
  </div>
</div>
{% endblock %}
